<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Join {{.Workspace}}</title>
    <link rel="shortcut icon" href="{{.WorkspaceLogo}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <section class="h-w">
        <h1 class="h1">Join <span class="gp-name">{{.Workspace}}</span></h1>
        <div class="imgs">
            <img src="/assets/slack.png" alt="Slack Icon" class="slack">
            <span class="add">+</span>
            <img src="{{.WorkspaceLogo}}" alt="Workspace Logo" class="slack">
        </div>
    </section>
    <section class="f-w">
        <form action="/signup" class="f" method="POST">
            <div class="f-g">
                <input type="email" id="email" class="f-i" name="email" placeholder="john.doe@example.com" required>
                <label for="email" class="f-l">Email</label>
            </div>
            <button type="submit" class="f-s animated-button thar-three">Get Invite</button>
        </form>
    </section>
</body>
</html>