<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks | {{.Workspace}}</title>
    <link rel="shortcut icon" href="{{.WorkspaceLogo}}" type="image/x-icon">
    <link rel="stylesheet" href="/assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <section class="h-w">
        <h1 class="h1"><span class="gp-name">{{.Message}}</span></h1>
        <div class="imgs">
            <img src="/assets/slack.png" alt="Slack Icon" class="slack">
            <span class="add">+</span>
            <img src="{{.WorkspaceLogo}}" alt="Workspace Logo" class="slack">
        </div>
    </section>
</body>
</html>